{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="border: 1px dashed lightgrey; padding-bottom: 10px;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">Now Playing</h4>
                    </div>
                </div>
                {% if track is not none %}
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-3"><b>Title</b></div>
                            <div class="col-md-8">{{track.title}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><b>Artist</b></div>
                            <div class="col-md-8">{{track.artist}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><b>Album</b></div>
                            <div class="col-md-8">{{track.album}}</div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-12">Nothing!</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}