<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sleepy</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/sleepy.css') }}" rel="stylesheet">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Sleepy</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/settings">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" role="main">
            {% block body %}
            {% endblock %}
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted">Copyright 2014 Scott Petersen</p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block jsbottom %}
        {% endblock %}
    </vody>
</html>