{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Number of Playlists</th>
            </tr>
            {% for source in sources %}
                <tr>
                    <td><a href="{{ url_for('frontend.source', id=source.id) }}">{{ source.name }}</a></td>
                    <td>{{ source.type }}</td>
                    <td>{{ source.playlists|length }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}