{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Number of Playlists</th>
            </tr>
            {% for source in sources %}
                <tr>
                    <td><a href="{{ url_for('frontend.source', id=source.id) }}">{{ source.name }}</a></td>
                    <td>{{ source.type }}</td>
                    <td><a href="{{ url_for('frontend.playlists', id=source.id) }}">{{ source.playlists|length }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <a class="btn btn-default" href="{{ url_for('frontend.create_source') }}">New Source</a>
    </div>
{% endblock %}